p
    word-break: keep-all

input[type="checkbox"]
    -webkit-appearance: none
    width: 20px
    height: 20px
    border-radius: 5px
    background-color: none
    border: solid 2px

input[type="checkbox"]:checked
    background-position: center

.list-scroll-size
    @screen md
        height: calc(100vh - 24rem)