p
    word-break: keep-all

input[type="checkbox"]
    -webkit-appearance: none
    width: 20px
    height: 20px
    border-radius: 5px
    background-color: none
    border: solid 2px

input[type="checkbox"]:checked
    background-image: url('/assets/icons/checked-box.svg')
    background-position: center

input[type="range"]
    overflow: hidden /* 限定範圍 */
    height: 4px
    outline: none /* 避免點選會有藍線或虛線 */
    border-radius: 30px
    background: #8354bf
    width: 170px
.pins
    height: calc(100vh - 14rem)
    overflow-y: auto