<div class="flex flex-col absolute right-0 max-w-full">
  <button
    *ngIf="!showSettings"
    (click)="toggleShow()"
    class="
    text-sm md:text-xl
    tint-shadow-primary gradient-bg bg-primary rounded-full flex items-center text-white pointer-events-auto
    m-6 ml-auto px-4 py-2 md:py-4 md:px-8 "
  >
    設定
    <img src="./assets/icons/tool.svg" />
  </button>
  <button
    *ngIf="showSettings"
    (click)="toggleShow()"
    class="
    text-sm md:text-xl
    tint-shadow-primary gradient-bg bg-primary rounded-full flex items-center text-white pointer-events-auto
    m-6 ml-auto px-4 py-2 md:py-4 md:px-8 "
  >
    <p>儲存設定</p>
    <img src="./assets/icons/check.svg" />
  </button>
  <div class="flex flex-col-reverse md:flex-row overflow-y-auto settings-container-height rounded-2xl" *ngIf="showSettings">
    <app-map-pin-settings
      (pinChecked)="onPinSelected($event)"
      [blurSource]="blurSource"
      [setPins]="pins"
      [setSelectedPins]="selectedPins"
      [setPolygons]="polygons"
      class="flex float-right flex-col md:pr-4 mt-4 md:mt-0"
    ></app-map-pin-settings>
    <app-map-3d-settings
      [polygonSettings]="polygonSettings"
      [columnSettings]="columnSettings"
      [blurSource]="blurSource"
      (columnChanged)="onColumnChanged($event)"
      (polygonChanged)="onPolygonChanged($event)"
    ></app-map-3d-settings>
  </div>
</div>
