<p *ngIf="hoverPin" id="legend" [ngStyle]="{'left': hoverPin.legendPosition.x + 'px', 'top': -hoverPin.legendPosition.y + 'px'}">{{hoverPin.pin.title}}</p>
<p *ngFor="let pin of pinsOnSelect; let in = index" id="legend" [ngStyle]="{'left': pin.deviceCoordinate.x + 'px', 'top': pin.deviceCoordinate.y + 'px'}">{{pin.title}}</p>
<app-map-canvas id="canvas" #mapCanvas (hoverOnPin)="changeHoverLegend($event)" (selectedPinsOnGui)="updateSelectLegend($event)"></app-map-canvas>
<p *ngFor="let pin of pinsOnSelect; let in = index" >{{pin.title}}</p>
<p>gui-settings works!</p>mapCanvas.guiColumnSettings
<div class="slidecontainer">
    <br>
    <input type="color" id="columnColor" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.column.color">
    <label for="columnColor">column color: {{mapCanvas.guiColumnSettings.column.color}}</label>
    <br>
    <input type="range" min="0" max="1" step="0.01" id="columnHeightScale" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.column.heightScale">
    <label for="columnHeightScale">columnHeightScale: {{mapCanvas.guiColumnSettings.column.heightScale}}</label>
    <br>
    <input type="range" min="0" max="3" step="0.01" id="columnScale" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.column.scale">
    <label for="columnScale">columnScale: {{mapCanvas.guiColumnSettings.column.scale}}</label>
    <br>
    <input type="range" min="0" max="1" step="0.01" id="columnOpacity" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.column.opacity">
    <label for="columnOpacity">columnOpacity: {{mapCanvas.guiColumnSettings.column.opacity}}</label>
    <br>
    <input type="color" id="groundColor" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.ground.color">
    <label for="groundColor">ground Color: {{mapCanvas.guiColumnSettings.ground.color}}</label>
    <br>
    <input type="range" min="0" max="1" step="0.01" id="groundOpacity" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.ground.opacity">
    <label for="groundOpacity">groundOpacity: {{mapCanvas.guiColumnSettings.ground.opacity}}</label>
    <br>
    <input type="color" id="outlineColor" (change)="mapCanvas.uiUpdatePin($event)"
        [(ngModel)]="mapCanvas.guiColumnSettings.outline.color">
    <label for="outlineColor">outlineColor: {{mapCanvas.guiColumnSettings.outline.color}}</label>
    <br>
    <input type="range" min="0" max="1" step="0.01" id="outlineOpacity"
        (change)="mapCanvas.uiUpdatePin($event)" [(ngModel)]="mapCanvas.guiColumnSettings.outline.opacity">
    <label for="outlineOpacity">outlineOpacity: {{mapCanvas.guiColumnSettings.outline.opacity}}</label>
    <br>
</div>
