<p
  *ngIf="hoverPin"
  class="legend pointer-events-none"
  [ngStyle]="{
    left: hoverPin.legendPosition.x + 'px',
    top: -hoverPin.legendPosition.y + 'px'
  }"
>
  {{ hoverPin.pin.title }}
</p>
<p *ngFor="let pin of pinsSelectedWithDnc; let in = index" class="legend pointer-events-none" [ngStyle]="{
    left: pin.deviceCoordinate.x + 'px',
    top: pin.deviceCoordinate.y + 'px'
  }">
  {{ pin.title }}
</p>
<div class="absolute justify-center w-full flex bottom-8">
  <p *ngIf="isLoadingTile" class="loading pointer-events-none text-xl text-primary-500" >
    載入圖片中...
  </p>
</div>
<div class="flex flex-row justify-between absolute pointer-events-none w-full">
  <div class="flex flex-col p-6 text-primary-500 pointer-events-auto">
    <h2>
      <a 
      class="text-2xl px-6 py-3 font-medium hover:bg-primary-500 hover:text-white rounded-2xl flex"
      [routerLink]="['dashboard']">
        Geostat.tw
      </a>
    </h2>
    <h1 class="text-4xl px-6 py-3 font-light">第四季展店地圖</h1>
    <app-category-picker class="flex flex-col m-6" (changeCategoryToCanvas)="mapCanvas.onCategoryChageFromPicker($event)"></app-category-picker>
  </div>
  <app-map-settings class="flex float-right flex-col" [columnSettings]="mapCanvas.guiColumnSettings"
    [polygonSettings]="mapCanvas.guiPolygonSettings" [pins]="mapCanvas.pins" [selectedPins]="mapCanvas.selectedPins"
    (columnChanged)="mapCanvas.uiUpdatePin($event)" (polygonChanged)="mapCanvas.uiUpdatePolygon($event)"
    (pinSelected)="onPinSelected($event)" [polygons]="mapCanvas.polygons"></app-map-settings>
</div>
<app-map-canvas 
#mapCanvas
(hoverOnPin)="changeHoverLegend($event)"
[onPinSelected]="pinSelected"
class="absolute h-screen"
(selectedPinsWithDncEmitter)="onSelectedPinsWithDnc($event)"
></app-map-canvas>

<!-- <div class="slidecontainer">
  <p>gui-settings works!</p>
  mapCanvas.guiColumnSettings
  <br />
  <input type="color" id="columnColor" [(ngModel)]="mapCanvas.guiColumnSettings.columns.defaultColumn.color"
    (change)="mapCanvas.uiUpdatePin($event)" />
  <label for="columnColor">column color:
    {{ mapCanvas.guiColumnSettings.columns.defaultColumn.color }}</label>
  <br />
  <input type="range" min="0" max="1" step="0.01" id="columnHeightScale" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.columns.defaultColumn.heightScale" />
  <label for="columnHeightScale">columnHeightScale:
    {{ mapCanvas.guiColumnSettings.columns.defaultColumn.heightScale }}</label>
  <br />
  <input type="range" min="0" max="3" step="0.01" id="columnScale" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.columns.defaultColumn.scale" />
  <label for="columnScale">columnScale:
    {{ mapCanvas.guiColumnSettings.columns.defaultColumn.scale }}</label>
  <br />
  <input type="range" min="0" max="1" step="0.01" id="columnOpacity" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.columns.defaultColumn.opacity" />
  <label for="columnOpacity">columnOpacity:
    {{ mapCanvas.guiColumnSettings.columns.defaultColumn.opacity }}</label>
  <br />
  <input type="color" id="groundColor" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.ground.color" />
  <label for="groundColor">ground Color: {{ mapCanvas.guiColumnSettings.ground.color }}</label>
  <br />
  <input type="range" min="0" max="1" step="0.01" id="groundOpacity" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.ground.opacity" />
  <label for="groundOpacity">groundOpacity: {{ mapCanvas.guiColumnSettings.ground.opacity }}</label>
  <br />
  <input type="color" id="outlineColor" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.outline.color" />
  <label for="outlineColor">outlineColor: {{ mapCanvas.guiColumnSettings.outline.color }}</label>
  <br />
  <input type="range" min="0" max="1" step="0.01" id="outlineOpacity" (change)="mapCanvas.uiUpdatePin($event)"
    [(ngModel)]="mapCanvas.guiColumnSettings.outline.opacity" />
  <label for="outlineOpacity">outlineOpacity: {{ mapCanvas.guiColumnSettings.outline.opacity }}</label>
  <br />
  <input type="color" id="polygonColor" (change)="mapCanvas.uiUpdatePolygon($event)"
    [(ngModel)]="mapCanvas.guiPolygonSettings.color" />
  <label for="polygonColor">polygonColor: {{ mapCanvas.guiPolygonSettings.color }}</label>
  <br />
  <input type="range" min="0" max="1" step="0.01" id="polygonOpacity" (change)="mapCanvas.uiUpdatePolygon($event)"
    [(ngModel)]="mapCanvas.guiPolygonSettings.opacity" />
  <label for="polygonOpacity">polygonOpacity: {{ mapCanvas.guiPolygonSettings.opacity }}</label>
  <br />
  <p *ngFor="let pin of pinsOnSelect; let in = index">{{ pin.title }}</p>
</div> -->