<div class="z-10 pointer-events-none absolute w-full h-screen top-0 left-0 flex justify-center items-center" [ngClass]="popupBgClass">
    <div class="absolute bg-white/30 p-6 rounded-4xl glass-blur" [ngStyle]="{'background-image': blurSource}">
     <div class="w-50 py-6 px-9 bg-white rounded-2xl pointer-events-auto" [ngClass]="'text-' + themeColor + '-500'">
         <div class="items-center flex">
             <button class="pl-0 pr-5 py-5" (click)="hide()">
                 <img *ngIf="backButtonType === 'cross' " [src]="'/assets/icons/cross-' + themeColor + '.svg'">
                 <img *ngIf="backButtonType === 'arrow' " [src]="'/assets/icons/chevron-left-' + themeColor + '.svg'">
             </button>
             <h2 class="text-2xl">{{title}}</h2>
         </div>
         <div class="step mt-6 mb-3">
             <label class="rounded-xl px-5 py-5 block" [ngClass]="'bg-' + themeColor + '-200'" for="catalog-link">
                 <input
                 id="catalog-link"
                 type="url"
                 #name="ngModel"
                 #nameInput
                 required
                 [(ngModel)]="nameString"
                 [size]="13"
                 placeholder="{{placeholder}}"
                 class="border-b-2 w-full text-xl" [ngClass]="['border-' + themeColor + '-400', 'placeholder:text-' + themeColor + '-400', 'bg-' + themeColor + '-200']"
                 >
             </label>
             <div class="px-5 pt-2 text-sm text-error-500">
                 <p *ngIf="name.touched && name.errors && name.errors['required']">此為必填</p>
             </div>
         </div>
         <div>
             <button (click)="submit(name.errors)" class="rounded-full py-3 flex w-full items-center justify-center space-x-2" [ngClass]="name.errors ? 'bg-grey-100 text-grey-300' : 'bg-' + themeColor + '-400'" >
                 <p>新增</p>
                 <img *ngIf="!name.errors" class="pb-0.5" [src]="'/assets/icons/chevron-right-' + themeColor + '.svg'">
                 <img *ngIf="name.errors" class="pb-0.5" src="/assets/icons/chevron-right-grey.svg">
             </button>
         </div>
     </div>
    </div>
 </div>
 