<div *ngIf="categoryToEdit" class="w-screen h-screen absolute left-0 top-0" (click)="hideCategoryEdit()"></div>
<div class="flex flex-col">
    <p class="
    text-xs md:text-base 
    text-primary-500
    pb-3">數據資料：</p>
    <button
        class="
        md:text-xl
        pointer-events-auto tint-shadow-primary gradient-bg bg-primary rounded-full flex items-center text-white
        mr-auto px-4 py-2 md:py-4 md:px-8 "
        (click)="toggleShow()">
        {{selectedCategoryName}}
        <img src="./assets/icons/chevron-down-white.svg" />
    </button>
    <section class="pointer-events-none position-absolute left-0 glass-blur rounded-2xl my-6" *ngIf="isCategoriesShow" [ngStyle]="{'background-image': blurSource}">
        <div class="pointer-events-auto bg-white/90 flex text-category-500 flex-col
        m-3 p-3 rounded-xl">
            <div class="items-center flex justify-between">
                <h2 class="p-2 text-xl">切換數據資料</h2>
                <button class="p-3" (click)="toggleShow()">
                    <img src="./assets/icons/cross-category.svg">
                </button>
            </div>
            <form class="my-3 rounded-xl">
                <fieldset>
                    <div class="flex flex-col">
                        <div class="unselected-category overflow-y-auto">
                            <ng-container *ngFor="let category of categories; index as i">
                                <label
                                    class="rounded-full bg-category-200 py-1 px-6 flex space-x-2 items-center my-1 mx-3">
                                    <label [for]="'category' + i" class="flex space-x-2 mr-auto">
                                        <p class="pr-6">{{category.tableName}}</p>
                                    </label>
                                    <input type="radio" [id]="'category' + i" name="category" [value]="category.categoryId" [(ngModel)]="selectedCategoryValue" (change)="changeCategory(category.categoryId)" [ngStyle]="{'background-image': updateSelectedStyle(category.categoryId)}" class="m-3"/>
                                    <div class="flex" (click)="showCategoryEdit(category.categoryId)">
                                        <button class="p-2 ml-1 my-1 hover:bg-white rounded-xl">
                                            <img src="./assets/icons/more-category.svg">
                                        </button>
                                        <div *ngIf="categoryToEdit === category.tableSource" class="pointer-events-auto z-20 absolute w-max dropdown p-2 bg-white rounded-2xl tint-shadow-primary-sm">
                                            <a class="p-4 hover:bg-category-200 rounded-2xl flex" target="_blank" [href]="'https://docs.google.com/spreadsheets/d/' + category.tableSource + '/edit#gid=0&range=A:B'">
                                                <button class="pointer-events-none flex items-center">
                                                    編輯資料
                                                    <img class="ml-2 pb-1.5" src="./assets/icons/external-link.svg">
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </label>
                            </ng-container>
                        </div>
                    </div>
                </fieldset>
            </form>
            <button
                class="rounded-full bg-category-400 py-3 px-6 flex justify-center space-x-2  items-center my-1 mx-3"
                (click)="toggleAddCategory()"
                >
                <p>新增數據資料</p>
                <img src="./assets/icons/add-category.svg">
            </button>
        </div>
        <div *ngIf="categoryToEdit" class="pointer-events-auto absolute-important w-full h-full left-0 top-0" (click)="hideCategoryEdit()"></div>
    </section>
</div>
<app-add-category
*ngIf="isAddCategoryShow"
[useBlurPadding]="true"
[setPopupBg]="'bg-white/10'"
(setHide)="toggleAddCategory()"
(onSubmit)="onGotSheetUrl($event)"
></app-add-category>
<app-add-name
*ngIf="isAddNameShow"
[useBlurPadding]="true"
[setThemeColor]="'category'"
[setPopupBg]="'bg-white/10'"
(setHide)="nameMoveLastSetp()"
(onSubmit)="onGotName($event)"
></app-add-name>
<app-completed
*ngIf="isCompletedShow"
[name]="addedName"
[useBlurPadding]="true"
[setThemeColor]="'category'"
[setPopupBg]="'bg-white/10'"
[setCta]="true"
(setHide)="toggleCompletedShow()"
(onSubmit)="switchCategoryFromPopup($event)"
></app-completed>