<div class="flex flex-col">
    <button class="tint-shadow gradient-bg m-8 bg-primary text-xl py-4 px-8 rounded-full flex items-center text-white">設定
        <img src="/assets/icons/tool.svg">
    </button>
    <section class="glass-blur" [ngStyle]="{'backgroundImage': blurSource}">
        <div>
            asfas<br/>g
            asfad
        </div>
        <div>
            asfas<br/>g
            asfad
        </div>
        <div>
            asfas<br/>g
            asfad
        </div>
    </section>
</div>